<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Donald Berry</h1>
    <p>One of, if not the most nonchalant person I know is myself, Donald Berry. It is no surprise after that statement that you should expect that this nonchalant attitude has been a great effect on my life and to a lesser extent my writing. The first piece of writing that I can remember doing was an essay in primary school, it was for our Boy’s Day activities. I remember working hard at it and I also remembered placing third in the essay competition. That is where my dislike for writing began. In high school I can recall that most of my writings were just the basic and only for a grade. I didn’t like writing.</p>
</body>
</html>
